src/QuanlyHocBa/src/DB_Binding/tracuutheolop/find_dshocba.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://j2ee.netbeans.org/xsd/tableSchema" xmlns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="find_dshocba_Request">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="tenlop">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="find_dshocba_Response">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" ref="find_dshocba_Record"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="find_dshocba_Record">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="id_lop">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="sisolop">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:int">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenlop">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_hocba">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="nhanxet">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          
          <xsd:element name="id_hanhkiem">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenhanhkiem">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenhocluc">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_namhoc">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="namtruoc">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:int">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="namsau">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:int">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="hocky">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:int">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_hocsinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="bixoahaychua">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:boolean">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ghichu">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="hinhanh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="gioitinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ketnapdoan">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:boolean">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ketnapdoi">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:boolean">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngaysinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngayvaodoan">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngayvaodoi">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="sonha">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenhocsinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tongiao">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_quequan">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_thonxom">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_loaihocsinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_chedouutien">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_nguoidung">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_khuvuc">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_tinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_xaphuongthitran">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_hocphi">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_dantoc">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_quanhuyenthanhpho">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_sodiemdanh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:schema>