trunk/src/QuanlyHocBa/src/XSD/mine.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/mine"
    xmlns:tns="http://xml.netbeans.org/schema/mine"
    elementFormDefault="qualified" xmlns:ns0="http://xml.netbeans.org/schema/EschoolinkObject">
    <xsd:import schemaLocation="../XSD/Dang_EschoolinkObject.xsd" namespace="http://xml.netbeans.org/schema/EschoolinkObject"/>
    <xsd:complexType name="HocBaDisplay">
        <xsd:sequence>
            <xsd:element name="HocBaref" type="ns0:HocBa"/>
             <xsd:element name="Lop" type="ns0:Lop"/>
            <xsd:element name="ListDiemTBCacMon" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DiemTBMon" type="ns0:SoDiem" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>
     <xsd:complexType name="HocBaCaNam">
         <xsd:sequence maxOccurs="unbounded">
             <xsd:element name="HocBaDisplay" type="tns:HocBaDisplay"/>
         </xsd:sequence>
     </xsd:complexType>
    <xsd:complexType name="DanhSachHocBaCaNam">
        <xsd:sequence>
            <xsd:element  ref="tns:HocBaCaNam" maxOccurs="unbounded" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DanhSachHocBaTheoLop">
        <xsd:sequence>
            <xsd:element ref="tns:HocBaDisplay"  maxOccurs="unbounded" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DanhSachHocSinhBoHoc">
        <xsd:sequence>
            <xsd:element name="hocsinhbohoc" type="ns0:HocSinhBoHoc" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="HocBaDisplay" type="tns:HocBaDisplay"/>
    <xsd:element name="HocBaCaNam" type="tns:HocBaCaNam"/>
    <xsd:element name="DanhSachHocBaCaNam" type="tns:DanhSachHocBaCaNam"/>
    <xsd:element name="DanhSachHocBaTheoLop" type="tns:DanhSachHocBaTheoLop"/>
    <xsd:element name="DanhSachHocSinhBoHoc" type="tns:DanhSachHocSinhBoHoc"/>
</xsd:schema>




