src/QLHocSinh/src/DB_WSDL/find/XSD/DB_TimHocSinhTheoKhoiLop.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://j2ee.netbeans.org/xsd/tableSchema" xmlns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="DB_TimHocSinhTheoKhoiLop_Request">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="id_khoilop">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_namhoc">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="LIMIT">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="OFFSET">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="DB_TimHocSinhTheoKhoiLop_Response">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" ref="DB_TimHocSinhTheoKhoiLop_Record"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="DB_TimHocSinhTheoKhoiLop_Record">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="id_hocsinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenhocsinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="gioitinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngaysinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="hinhanh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="diachi">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenloaihocsinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ghichu">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ketnapdoan">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:boolean">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ketnapdoi">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:boolean">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngayvaodoan">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngayvaodoi">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tongiao">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_quequan">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngaytao">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="password">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="username">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenkhuvuc">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenquanhuyenthanhpho">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenthonxom">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenchedouutien">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="phantramduocgiam">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:double">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tentinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenxaphuongthitran">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="dantocthieuso">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:boolean">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tendantoc">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenlop">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="namsau">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:int">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="namtruoc">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:int">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenkhoi">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:schema>