trunk/src/QuanLyHocSinh/src/DB_WSDL/insert/DB_NguoiDung_insert.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DB_NguoiDung_insert" targetNamespace="http://j2ee.netbeans.org/wsdl/QuanLyHocSinh/DB_NguoiDung_insert" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://j2ee.netbeans.org/wsdl/QuanLyHocSinh/DB_NguoiDung_insert" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/">
            <xsd:import namespace="http://j2ee.netbeans.org/xsd/tableSchema" schemaLocation="nguoidung.xsd"/>
	</xsd:schema>
  </types>
  <message name="RetMsg">
    <part name="part" type="xsd:int"/>
  </message>
  <message name="outputMsg">
    <part name="part" element="ns:nguoidung"/>
  </message>
  <message name="inputMsg">
    <part name="part" element="ns:nguoidung"/>
  </message>
  <portType name="jdbcPortType">
    <operation name="insert">
      <input name="inputInsert" message="tns:inputMsg"/>
      <output name="outputInsert" message="tns:RetMsg"/>
    </operation>
    <operation name="findLastID">
      <input name="inputFindLastID" message="tns:inputMsg"/>
      <output name="outputFindLastID" message="tns:outputMsg"/>
    </operation>
  </portType>
  <binding name="binding" type="tns:jdbcPortType">
    <jdbc:binding xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
    <operation name="insert">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputInsert">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" 
    MarkColumnName=""
    MarkColumnValue=""
    MoveRowToTableName=""
    PKName="id_nguoidung"
    PollMilliSeconds="5000"
    PollingPostProcessing="MoveRow"
    TableName="nguoidung"
    Transaction="NOTransaction"
    numberOfRecords=""
    operationType="insert"
    paramOrder="ngaytao,password,username"
    sql="
    INSERT INTO nguoidung(ngaytao, &quot;password&quot;, username) VALUES (?, ?, ?) "/>
      </input>
      <output name="outputInsert">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </output>
    </operation>
    <operation name="findLastID">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputFindLastID">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"
    MarkColumnName=""
    MarkColumnValue=""
    MoveRowToTableName=""
    PKName="id_nguoidung"
    PollMilliSeconds="5000"
    PollingPostProcessing="MoveRow"
    TableName="nguoidung"
    Transaction="NOTransaction"
    numberOfRecords=""
    operationType="findLastID"
    paramOrder="username"
    sql="
          SELECT
            id_nguoidung
          FROM
            nguoidung
          WHERE
            username = ?
          ORDER BY
            id_nguoidung DESC"  />
      </input>
      <output name="outputFindLastID">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </output>
    </operation>
  </binding>
  <service name="service">
    <port name="port" binding="tns:binding">
    <jdbc:address xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" jndiName="jdbc/eschoolinkdb"/>
    </port>
  </service>
    <plink:partnerLinkType xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="jdbcpartner">
        <plink:role name="jdbcPortTypeRole" portType="tns:jdbcPortType"/>
    </plink:partnerLinkType>
</definitions>

