src/QLGiaoVienComApp/src/jbiasa/QLGiaoVienComApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="QLGiaoVienComApp"
             xmlns:tns="QLGiaoVienComApp" xmlns:ns="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/SuaGV" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/themGV" xmlns:ns2="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/searchGV" xmlns:ns3="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/tracuuGV" xmlns:ns4="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/getLopTrongNM" xmlns:ns5="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/phanLopChuNhiem" xmlns:ns6="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/getLopbyTheoKhoi">
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/SuaGV" location="../jbiServiceUnits/QuanLyGiaoVien/interface_WSDL/SuaGV.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/themGV" location="../jbiServiceUnits/QuanLyGiaoVien/interface_WSDL/themGV.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/searchGV" location="../jbiServiceUnits/QuanLyGiaoVien/interface_WSDL/searchGV.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/tracuuGV" location="../jbiServiceUnits/QuanLyGiaoVien/interface_WSDL/tracuuGV.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/getLopTrongNM" location="../jbiServiceUnits/QuanLyGiaoVien/interface_WSDL/getLopTrongNM.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/phanLopChuNhiem" location="../jbiServiceUnits/QuanLyGiaoVien/interface_WSDL/phanLopChuNhiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyGiaoVien/getLopbyTheoKhoi" location="../jbiServiceUnits/QuanLyGiaoVien/interface_WSDL/getLopbyTheoKhoi.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding4" type="ns:SuaGVPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SuaGVOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns1:themGVPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="themGVOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns2:searchGVPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="searchGVOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </output>

        </operation>
    </binding>
    <binding name="casaBinding1" type="ns3:tracuuGVPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="tracuuGVOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </output>

        </operation>
    </binding>
    <binding name="casaBinding5" type="ns4:getLopTrongNMPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getLopTrongNMOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns5:phanLopChuNhiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="phanLopChuNhiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding7" type="ns6:getLopbyTheoKhoiPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getLopbyTheoKhoiOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLGiaoVienComApp"/>
            </output>
        </operation>
    </binding>
    <service name="QLGiaoVienComAppService1">
        <port name="tracuuGVbyID" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLGiaoVienComAppService1/tracuuGVbyID"/>
        </port>
    </service>
    <service name="QLGiaoVienComAppService2">
        <port name="searchGV" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLGiaoVienComAppService2/searchGV"/>
        </port>
    </service>
    <service name="QLGiaoVienComAppService3">
        <port name="ThemGV" binding="tns:casaBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLGiaoVienComAppService3/ThemGV"/>
        </port>
    </service>
    <service name="QLGiaoVienComAppService4">
        <port name="SuaGV" binding="tns:casaBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLGiaoVienComAppService4/SuaGV"/>
        </port>
    </service>
    <service name="QLGiaoVienComAppService5">
        <port name="getLopTrongNM" binding="tns:casaBinding5">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLGiaoVienComAppService5/getLopTrongNM"/>
        </port>
    </service>
    <service name="QLGiaoVienComAppService6">
        <port name="PhanLopChuNhiem" binding="tns:casaBinding6">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLGiaoVienComAppService6/PhanLopChuNhiem"/>
        </port>
    </service>
    <service name="QLGiaoVienComAppService7">
        <port name="getLopTheoKhoi" binding="tns:casaBinding7">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLGiaoVienComAppService7/getLopTheoKhoi"/>
        </port>
    </service>
</definitions>





