src/QuanLyHeThongComApp/src/jbiServiceUnits/QuanLyHeThongComApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="QuanLyHeThongComApp"
             xmlns:tns="QuanLyHeThongComApp" xmlns:ns="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNguoiDung_Nhom" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNhom" xmlns:ns2="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNguoiDung_Nhom" xmlns:ns3="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNhom" xmlns:ns4="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNguoiDung_Nhom" xmlns:ns5="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNhom">
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNguoiDung_Nhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynguoidung/SuaNguoiDung_Nhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynhom/SuaNhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNguoiDung_Nhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynguoidung/ThemNguoiDung_Nhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynhom/ThemNhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNguoiDung_Nhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynguoidung/XoaNguoiDung_Nhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynhom/XoaNhom.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:SuaNguoiDung_NhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SuaNguoiDung_NhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:SuaNhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SuaNhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns2:ThemNguoiDung_NhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ThemNguoiDung_NhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns3:ThemNhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ThemNhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns5:XoaNhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="XoaNhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns4:XoaNguoiDung_NhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="XoaNguoiDung_NhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <service name="QuanLyHeThongComAppService1">
        <port name="suaNguoiDungNhom" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService1/suaNguoiDungNhom"/>
        </port>
    </service>
    <service name="QuanLyHeThongComAppService2">
        <port name="suaNhom" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService2/suaNhom"/>
        </port>
    </service>
    <service name="QuanLyHeThongComAppService3">
        <port name="themNguoiDungNhom" binding="tns:casaBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService3/themNguoiDungNhom"/>
        </port>
    </service>
    <service name="QuanLyHeThongComAppService4">
        <port name="themNhom" binding="tns:casaBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService4/themNhom"/>
        </port>
    </service>
    <service name="QuanLyHeThongComAppService5">
        <port name="xoaNguoiDungNhom" binding="tns:casaBinding5">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService5/xoaNguoiDungNhom"/>
        </port>
    </service>
    <service name="QuanLyHeThongComAppService6">
        <port name="xoaNhom" binding="tns:casaBinding6">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService6/xoaNhom"/>
        </port>
    </service>
</definitions>

