trunk/src/QuanLyThoiKhoaBieu/src/XSD_XML_Object/tkb_EschoolinkObject.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/tkb_EschoolinkObject"
    elementFormDefault="qualified" xmlns:tns="http://xml.netbeans.org/schema/tkb_EschoolinkObject">
    <xsd:element name="Truong" type="tns:Truong" />
    <xsd:element name="CoSo" type="tns:CoSo" />
    <xsd:element name="GiaoVien" type="tns:GiaoVien"/>
    <xsd:element name="HieuTruong" type="tns:HieuTruong"/>
    <xsd:element name="DanToc" type="tns:DanToc"/>
    <xsd:element name="Lop" type="tns:Lop"/>
    <xsd:element name="NguoiDung" type="tns:NguoiDung"/>
    <xsd:element name="MonHoc" type="tns:MonHoc"/>
    <xsd:element name="ToBoMon" type="tns:ToBoMon"/>
    <xsd:element name="KhoiLop" type="tns:KhoiLop"/>
    <xsd:element name="HocSinh" type="tns:HocSinh"/>
    <xsd:element name="Quyen" type="tns:Quyen"/>
    <xsd:element name="Nhom" type="tns:Nhom"/>
    <xsd:element name="HocBa" type="tns:HocBa"/>
    <xsd:element name="LoaiHocSinh" type="tns:LoaiHocSinh"/>
    <xsd:element name="ThanhPhanGiaDinh" type="tns:ThanhPhanGiaDinh"/>
    <xsd:element name="CheDoUuTien" type="tns:CheDoUuTien"/>
    <xsd:element name="ChiTietHocBa" type="tns:ChiTietHocBa"/>
    <xsd:element name="ChiTietHocPhi" type="tns:ChiTietHocPhi"/>
    <xsd:element name="ChiTietHocSinhBoHoc" type="tns:ChiTietHocSinhBoHoc"/>
    <xsd:element name="ChiTietHoSoChuyenLop" type="tns:ChiTietHoSoChuyenLop"/>
    <xsd:element name="ChiTietHoSoChuyenTruong" type="tns:ChiTietHoSoChuyenTruong"/>
    <xsd:element name="ChiTietSoDiem" type="tns:ChiTietSoDiem"/>
    <xsd:element name="ChiTietSoDiemDanh" type="tns:ChiTietSoDiemDanh"/>
    <xsd:element name="ChiTietThanhPhanGiaDinh" type="tns:ChiTietThanhPhanGiaDinh"/>
    <xsd:element name="DanhSachQuyen" type="tns:DanhSachQuyen"/>
    <xsd:element name="Diem" type="tns:Diem"/>
    <xsd:element name="GiaoVienChuNhiem" type="tns:GiaoVienChuNhiem"/>
    <xsd:element name="HanhKiem" type="tns:HanhKiem"/>
    <xsd:element name="HocLuc" type="tns:HocLuc"/>
    <xsd:element name="HocPhi" type="tns:HocPhi"/>
    <xsd:element name="HocSinhBoHoc" type="tns:HocSinhBoHoc"/>
    <xsd:element name="HoSoChuyenLop" type="tns:HoSoChuyenLop"/>
    <xsd:element name="HoSoChuyenTruong" type="tns:HoSoChuyenTruong"/>
    <xsd:element name="KhuVuc" type="tns:KhuVuc"/>
    <xsd:element name="LoaiDiem" type="tns:LoaiDiem"/>
    <xsd:element name="NamHoc" type="tns:NamHoc"/>
    <xsd:element name="QuanHuyenThanhPho" type="tns:QuanHuyenThanhPho"/>
    <xsd:element name="QueQuan" type="tns:QueQuan"/>
    <xsd:element name="SoDiem" type="tns:SoDiem"/>
    <xsd:element name="SoDiemChuNhiem" type="tns:SoDiemChuNhiem"/>
    <xsd:element name="SoDiemDanh" type="tns:SoDiemDanh"/>
    <xsd:element name="ThonXom" type="tns:ThonXom"/>
    <xsd:element name="XaPhuongThiTran" type="tns:XaPhuongThiTran"/>
    <xsd:element name="ThoiKhoaBieu" type="tns:ThoiKhoaBieu"/>
    <xsd:element name="ChiTietThoiKhoaBieu" type="tns:ChiTietThoiKhoaBieu"/>

    <xsd:complexType name="ThoiKhoaBieu">
        <xsd:sequence>
            <xsd:element name="idThoiKhoaBieu" type="xsd:long"></xsd:element>
            <xsd:element name="idLop" type="xsd:long"></xsd:element>
            <xsd:element name="idNamHoc" type="xsd:long"></xsd:element>
            <xsd:element name="hocKy" type="xsd:int"></xsd:element>
            <xsd:element ref="tns:ChiTietThoiKhoaBieu" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChiTietThoiKhoaBieu">
        <xsd:sequence>
            <xsd:element name="id_chitietthoikhoabieu" type="xsd:long"></xsd:element>
            <xsd:element name="id_giaovien" type="xsd:long"></xsd:element>
            <xsd:element name="id_monhoc" type="xsd:long"></xsd:element>
            <xsd:element name="sotiet" type="xsd:long"></xsd:element>
            <xsd:element name="thu" type="xsd:long"></xsd:element>
            <xsd:element name="tietThuMay" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="Truong">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenTruong" type="xsd:string"></xsd:element>
            <xsd:element name="diaChiTruong" type="xsd:string"></xsd:element>
            <xsd:element name="ngayThanhLapTruong" type="xsd:date"></xsd:element>
            <xsd:element name="loaiHinhTruong" type="xsd:string"></xsd:element>
            <xsd:element name="dienThoaiTruong" type="xsd:string"></xsd:element>
            <xsd:element name="websiteTruong" type="xsd:string"></xsd:element>
            <xsd:element name="gioiThieuTruong" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:CoSo" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CoSo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenCoSo" type="xsd:string"></xsd:element>
            <xsd:element name="diaChiCoSo" type="xsd:string"></xsd:element>
            <xsd:element name="ngayThanhLapCoSo" type="xsd:date"></xsd:element>
            <xsd:element name="dienThoaiCoSo" type="xsd:string"></xsd:element>
            <xsd:element name="websiteCoSo" type="xsd:string"></xsd:element>
            <xsd:element name="gioiThieuCoSo" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:ToBoMon" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:KhoiLop" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GiaoVien">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenGiaoVien" type="xsd:string"></xsd:element>
            <xsd:element name="ngaySinh" type="xsd:date"></xsd:element>
            <xsd:element name="gioiTinh" type="xsd:string"></xsd:element>
            <xsd:element name="cmnd" type="xsd:string"></xsd:element>
            <xsd:element name="ngayCap" type="xsd:date"></xsd:element>
            <xsd:element name="noiCap" type="xsd:string"></xsd:element>
            <xsd:element name="tonGiao" type="xsd:string"></xsd:element>
            <xsd:element name="queQuan" type="xsd:string"></xsd:element>
            <xsd:element name="choOHienTai" type="xsd:string"></xsd:element>
            <xsd:element name="email" type="xsd:string"></xsd:element>
            <xsd:element name="soDienThoai" type="xsd:string"></xsd:element>
            <xsd:element name="hinhAnh" type="xsd:string"></xsd:element>
            <xsd:element name="chucVu" type="xsd:string"></xsd:element>
            <xsd:element name="trinhDoVanHoa" type="xsd:string"></xsd:element>
            <xsd:element name="tinhTrangSucKhoe" type="xsd:string"></xsd:element>
            <xsd:element name="ngayVaoTruong" type="xsd:string"></xsd:element>
            <xsd:element name="ketNapDoan" type="xsd:boolean"></xsd:element>
            <xsd:element name="ngayVaoDoan" type="xsd:date"></xsd:element>
            <xsd:element name="ketNapDang" type="xsd:boolean"></xsd:element>
            <xsd:element name="ngayVaoDang" type="xsd:date"></xsd:element>
            <xsd:element ref="tns:DanToc" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:Lop" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:MonHoc" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:NguoiDung" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HieuTruong">
        <xsd:complexContent>
            <xsd:extension base="tns:GiaoVien">
                <xsd:sequence>
                    <xsd:element ref="tns:Truong"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DanToc">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenDanToc" type="xsd:string"></xsd:element>
            <xsd:element name="danTocThieuSo" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Lop">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenLop" type="xsd:string"></xsd:element>
            <xsd:element name="siSoLop" type="xsd:int"></xsd:element>
            <xsd:element name="id_gvcn" type="xsd:long"></xsd:element>
            <xsd:element name="id_tkb" type="xsd:long"></xsd:element>
            <xsd:element name="id_khoilop" type="xsd:long"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NguoiDung">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="username" type="xsd:string"></xsd:element>
            <xsd:element name="password" type="xsd:string"></xsd:element>
            <xsd:element name="ngayTao" type="xsd:date"></xsd:element>
            <xsd:element ref="tns:GiaoVien" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:HocSinh" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:Quyen" maxOccurs="unbounded" minOccurs="0" ></xsd:element>
            <xsd:element ref="tns:Nhom" maxOccurs="unbounded" minOccurs="0" ></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MonHoc">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenMonHoc" type="xsd:string"></xsd:element>
        <xsd:element name="idSoDiem" type="xsd:long"></xsd:element>
        <xsd:element name="idToBoMon" type="xsd:long"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ToBoMon">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenBoMon" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:MonHoc" maxOccurs="unbounded" minOccurs="0" ></xsd:element>
            <xsd:element ref="tns:GiaoVien" maxOccurs="unbounded" minOccurs="0" ></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="KhoiLop">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenKhoi" type="xsd:string"></xsd:element>
            <xsd:element  name="idCoSo" type="xsd:long" ></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HocSinh">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenHocSinh" type="xsd:string"></xsd:element>
            <xsd:element name="ngaySinh" type="xsd:date"></xsd:element>
            <xsd:element name="gioiTinh" type="xsd:string"></xsd:element>
            <xsd:element name="soNha" type="xsd:string"></xsd:element>
            <xsd:element name="tonGiao" type="xsd:string"></xsd:element>
            <xsd:element name="hinhAnh" type="xsd:string"></xsd:element>
            <xsd:element name="ketNapDoi" type="xsd:boolean"></xsd:element>
            <xsd:element name="ngayVaoDoi" type="xsd:date"></xsd:element>
            <xsd:element name="ketNapDoan" type="xsd:boolean"></xsd:element>
            <xsd:element name="ngayVaoDoan" type="xsd:date"></xsd:element>
            <xsd:element name="ghiChu" type="xsd:string"></xsd:element>
            <xsd:element name="biXoaHayChua" type="xsd:boolean"></xsd:element>
            <xsd:element ref="tns:DanToc" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:HocBa" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:LoaiHocSinh" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:CheDoUuTien" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:ThanhPhanGiaDinh" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:NguoiDung" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Quyen">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenQuyen" type="xsd:string"></xsd:element>
            <xsd:element name="moTa" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:NguoiDung" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element ref="tns:Nhom" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Nhom">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenNhom" type="xsd:string"></xsd:element>
            <xsd:element name="moTa" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:NguoiDung" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element ref="tns:Quyen" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HocBa">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element ref="tns:ChiTietHocBa" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element ref="tns:HocSinh" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LoaiHocSinh">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenLoaiHocSinh" type="xsd:string"></xsd:element>
            <xsd:element name="moTa" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ThanhPhanGiaDinh">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element ref="tns:ChiTietThanhPhanGiaDinh" maxOccurs="unbounded" minOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CheDoUuTien">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenCheDoUuTien" type="xsd:string"></xsd:element>
            <xsd:element name="phanTramDuocGiam" type="xsd:double"></xsd:element>
            <xsd:element name="chuThich" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChiTietHocBa">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="nhanXet" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:HanhKiem" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:HocLuc" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:NamHoc" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChiTietHocPhi">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenLoaiHocPhi" type="xsd:string"></xsd:element>
            <xsd:element name="tienCanDong" type="xsd:double"></xsd:element>
            <xsd:element name="tienDaDong" type="xsd:double"></xsd:element>
            <xsd:element name="daDongDuChua" type="xsd:boolean"></xsd:element>
            <xsd:element name="chuThich" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:HocSinh" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:NamHoc" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChiTietHocSinhBoHoc">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="hocKy" type="xsd:int"></xsd:element>
            <xsd:element name="ngayBoHoc" type="xsd:date"></xsd:element>
            <xsd:element name="lyDoBoHoc" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:HocSinh"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChiTietHoSoChuyenLop">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="hocKy" type="xsd:int"></xsd:element>
            <xsd:element name="lopChuyenDi" type="xsd:string"></xsd:element>
            <xsd:element name="lopChuyenDen" type="xsd:string"></xsd:element>
            <xsd:element name="ngayChuyenLop" type="xsd:date"></xsd:element>
            <xsd:element name="lyDoChuyen" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:HocSinh"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChiTietHoSoChuyenTruong">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="truongChuyenDi" type="xsd:string"></xsd:element>
            <xsd:element name="truongChuyenDen" type="xsd:string"></xsd:element>
            <xsd:element name="ngayChuyenTruong" type="xsd:date"></xsd:element>
            <xsd:element name="lyDoChuyen" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:HocSinh"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChiTietSoDiem">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element ref="tns:LoaiDiem" maxOccurs="unbounded"></xsd:element>
            <xsd:element ref="tns:HocSinh"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChiTietSoDiemDanh">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="ngayNghi" type="xsd:date"></xsd:element>
            <xsd:element name="buoiNghi" type="xsd:string"></xsd:element>
            <xsd:element name="lyDoNghi" type="xsd:string"></xsd:element>
            <xsd:element name="coPhepHayKhong" type="xsd:boolean"></xsd:element>
            <xsd:element ref="tns:HocSinh"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChiTietThanhPhanGiaDinh">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenQuanHe" type="xsd:string"></xsd:element>
            <xsd:element name="hoTen" type="xsd:string"></xsd:element>
            <xsd:element name="ngaySinh" type="xsd:date"></xsd:element>
            <xsd:element name="ngheNghiep" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DanhSachQuyen">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element ref="tns:Quyen" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Diem">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="diem" type="xsd:double"></xsd:element>
            <xsd:element name="lan" type="xsd:int"></xsd:element>
            <xsd:element name="ngayNhap" type="xsd:date"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GiaoVienChuNhiem">
        <xsd:complexContent>
            <xsd:extension base="tns:GiaoVien">
                <xsd:sequence>
                    <xsd:element ref="tns:SoDiemChuNhiem"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="HanhKiem">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenHanhKiem" type="xsd:string"></xsd:element>
            <xsd:element name="ghiChu" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HocLuc">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenHocLuc" type="xsd:string"></xsd:element>
            <xsd:element name="ghiChu" type="xsd:string"></xsd:element>
            <xsd:element name="diemCanTren" type="xsd:double"></xsd:element>
            <xsd:element name="diemCanDuoi" type="xsd:double"></xsd:element>
            <xsd:element name="khongCoMonDuoi" type="xsd:double"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HocPhi">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element ref="tns:ChiTietHocPhi"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HocSinhBoHoc">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element ref="tns:ChiTietHocSinhBoHoc"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HoSoChuyenLop">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element ref="tns:ChiTietHoSoChuyenLop"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HoSoChuyenTruong">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element ref="tns:ChiTietHoSoChuyenTruong"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="KhuVuc">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenKhuVuc" type="xsd:string"></xsd:element>
            <xsd:element name="moTa" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:QuanHuyenThanhPho" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LoaiDiem">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenLoaiDiem" type="xsd:string"></xsd:element>
            <xsd:element name="heSo" type="xsd:int"></xsd:element>
            <xsd:element name="kyHieu" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:Diem" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NamHoc">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="hocKy" type="xsd:int"></xsd:element>
            <xsd:element name="namTruoc" type="xsd:int"></xsd:element>
            <xsd:element name="namSau" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="QuanHuyenThanhPho">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenQuanHuyenThanhPho" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:XaPhuongThiTran" maxOccurs="unbounded" ></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="QueQuan">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element ref="tns:ThonXom"></xsd:element>
            <xsd:element ref="tns:XaPhuongThiTran"></xsd:element>
            <xsd:element ref="tns:QuanHuyenThanhPho"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SoDiem">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element ref="tns:ChiTietSoDiem" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SoDiemChuNhiem">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element ref="tns:SoDiem" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element ref="tns:ChiTietHocBa" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SoDiemDanh">
        <xsd:sequence>
            <xsd:element name="idSoDiemDanh" type="xsd:long"></xsd:element>
            <xsd:element name="buoinghi" type="xsd:string"></xsd:element>
            <xsd:element name="cophephaykhong" type="xsd:boolean"></xsd:element>
            <xsd:element name="lydonghi" type="xsd:string"></xsd:element>
            <xsd:element name="ngaynghi" type="xsd:date"></xsd:element>
            <xsd:element name="id_namhoc" type="xsd:long"></xsd:element>

        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ThonXom">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenThonXom" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XaPhuongThiTran">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="tenXaPhuongThiTran" type="xsd:string"></xsd:element>
            <xsd:element ref="tns:ThonXom"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>


























