trunk/src/QuanLyDiemComApp/src/jbiasa/QuanLyDiemComApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="QuanLyDiemComApp"
             xmlns:tns="QuanLyDiemComApp" xmlns:ns="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TaoLoaiDiem" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TaoSoDiem" xmlns:ns2="http://j2ee.netbeans.org/wsdl/QuanLyDiem/NhapDiem" xmlns:ns3="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TinhDiemTrungBinh" xmlns:ns4="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TongKetDiem" xmlns:ns5="http://j2ee.netbeans.org/wsdl/QuanLyDiem/Tongket" xmlns:ns6="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LuuDiemHocBa" xmlns:ns7="http://j2ee.netbeans.org/wsdl/QuanLyDiem/XemDiem">
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TaoLoaiDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TaoLoaiDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TaoSoDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TaoSoDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/NhapDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/NhapDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TinhDiemTrungBinh" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TinhDiemTrungBinh.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TongKetDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TongKetDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/Tongket" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/Tongket.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LuuDiemHocBa" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/LuuDiemHocBa.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/XemDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/XemDiem.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:TaoLoaiDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoLoaiDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:TaoSoDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoSoDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns2:NhapDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="NhapDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns3:TinhDiemTrungBinhPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TinhDiemTrungBinhOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns4:TongKetDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TongKetDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns6:LuuDiemHocBaPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LuuDiemHocBaOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding7" type="ns7:XemDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="XemDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyDiemComApp"/>
            </output>
        </operation>
    </binding>
    <service name="QuanLyDiemComAppService1">
        <port name="TaoLoaiDiem" binding="tns:casaBinding1">
            <soap:address location="http://localhost:18001/QuanLyDiemComApp/TaoLoaiDiem"/>
        </port>
    </service>
    <service name="QuanLyDiemComAppService2">
        <port name="TaoSoDiem" binding="tns:casaBinding2">
            <soap:address location="http://localhost:18001/QuanLyDiemComApp/TaoSoDiem"/>
        </port>
    </service>
    <service name="QuanLyDiemComAppService3">
        <port name="NhapDiem" binding="tns:casaBinding3">
            <soap:address location="http://localhost:18001/QuanLyDiemComApp/NhapDiem"/>
        </port>
    </service>
    <service name="QuanLyDiemComAppService4">
        <port name="TinhDiemTrungBinh" binding="tns:casaBinding4">
            <soap:address location="http://localhost:18001/QuanLyDiemComApp/TinhDiemTrungBinh"/>
        </port>
    </service>
    <service name="QuanLyDiemComAppService5">
        <port name="TongKetDiem" binding="tns:casaBinding5">
            <soap:address location="http://localhost:18001/QuanLyDiemComApp/TongKetDiem"/>
        </port>
    </service>
    <service name="QuanLyDiemComAppService6">
        <port name="LuuDiemHocBa" binding="tns:casaBinding6">
            <soap:address location="http://localhost:18001/QuanLyDiemComApp/LuuDiemHocBa"/>
        </port>
    </service>
    <service name="QuanLyDiemComAppService7">
        <port name="XemDiem" binding="tns:casaBinding7">
            <soap:address location="http://localhost:18001/QuanLyDiemComApp/XemDiem"/>
        </port>
    </service>
</definitions>








