trunk/src/QLDiemComApp/src/jbiasa/QLDiemComApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="QLDiemComApp"
             xmlns:tns="QLDiemComApp" xmlns:ns="http://j2ee.netbeans.org/wsdl/QuanLyDiem/ThemDanhSachLoaiDiem" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TaoSoDiem" xmlns:ns2="http://j2ee.netbeans.org/wsdl/QuanLyDiem/NhapDiem" xmlns:ns3="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LuuDiemHocBa" xmlns:ns4="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TaoLoaiDiem" xmlns:ns5="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TinhDiemTrungBinh" xmlns:ns6="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TongKetDiem" xmlns:ns7="http://j2ee.netbeans.org/wsdl/QuanLyDiem/XemDiem" xmlns:ns8="http://j2ee.netbeans.org/wsdl/QuanLyThiDuaLenLop/XetLenLop" xmlns:ns9="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TaoNamHocMoi" xmlns:ns10="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayIdNamHocMoiNhat" xmlns:ns11="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachMonHocCuaGiaoVien" xmlns:ns12="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachLopGiaoVienDay" xmlns:ns13="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LoadSoDiem" xmlns:ns14="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TimIdMonHocByTenMonHoc" xmlns:ns15="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TimIdLopByTenLop" xmlns:ns16="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachCotDiem" xmlns:ns17="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TimTenHocSinhByIdHocSinh" xmlns:ns18="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachDiemCuaChiTietSoDiem" xmlns:ns19="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LuuDiem" xmlns:ns20="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachHeSoCotDiem" xmlns:ns21="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachHeSo">
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/ThemDanhSachLoaiDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/ThemDanhSachLoaiDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TaoSoDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TaoSoDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/NhapDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/NhapDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LuuDiemHocBa" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/LuuDiemHocBa.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TaoLoaiDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TaoLoaiDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TinhDiemTrungBinh" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TinhDiemTrungBinh.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TongKetDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TongKetDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/XemDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/XemDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyThiDuaLenLop/XetLenLop" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/XetLenLop.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TaoNamHocMoi" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TaoNamHocMoi.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayIdNamHocMoiNhat" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/LayIdNamHocMoiNhat.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachMonHocCuaGiaoVien" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/LayDanhSachMonHocCuaGiaoVien.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachLopGiaoVienDay" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/LayDanhSachLopGiaoVienDay.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LoadSoDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/LoadSoDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TimIdMonHocByTenMonHoc" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TimIdMonHocByTenMonHoc.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TimIdLopByTenLop" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TimIdLopByTenLop.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachCotDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/LayDanhSachCotDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/TimTenHocSinhByIdHocSinh" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/TimTenHocSinhByIdHocSinh.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachDiemCuaChiTietSoDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/LayDanhSachDiemCuaChiTietSoDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LuuDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/LuuDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachHeSoCotDiem" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/LayDanhSachHeSoCotDiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyDiem/LayDanhSachHeSo" location="../jbiServiceUnits/QuanLyDiem/interface_WSDL/LayDanhSachHeSo.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding2" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding3" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding4" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding5" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding6" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding7" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding8" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding9" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding10" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding11" type="ns:ThemDanhSachLoaiDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ThemDanhSachLoaiDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding12" type="ns1:TaoSoDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoSoDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding13" type="ns2:NhapDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="NhapDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding14" type="ns3:LuuDiemHocBaPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LuuDiemHocBaOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding15" type="ns4:TaoLoaiDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoLoaiDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding16" type="ns5:TinhDiemTrungBinhPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TinhDiemTrungBinhOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding17" type="ns6:TongKetDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TongKetDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding18" type="ns7:XemDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="XemDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding19" type="ns8:XetLenLopPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="XetLenLopOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding20" type="ns9:TaoNamHocMoiPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoNamHocMoiOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding21" type="ns10:LayIdNamHocMoiNhatPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LayIdNamHocMoiNhatOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding22" type="ns11:LayDanhSachMonHocCuaGiaoVienPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LayDanhSachMonHocCuaGiaoVienOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding23" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding24" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding25" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding26" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding27" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding28" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding29" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding30" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding31" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding32" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding33" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding34" type="tns:dummyCasaPortType"/>
    <binding name="casaBinding35" type="ns12:LayDanhSachLopGiaoVienDayPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LayDanhSachLopGiaoVienDayOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding36" type="ns13:LoadSoDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LoadSoDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding37" type="ns14:TimIdMonHocByTenMonHocPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TimIdMonHocByTenMonHocOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding38" type="ns15:TimIdLopByTenLopPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TimIdLopByTenLopOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding39" type="ns16:LayDanhSachCotDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LayDanhSachCotDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding40" type="ns17:TimTenHocSinhByIdHocSinhPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TimTenHocSinhByIdHocSinhOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding41" type="ns18:LayDanhSachDiemCuaChiTietSoDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LayDanhSachDiemCuaChiTietSoDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding42" type="ns19:LuuDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LuuDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding43" type="ns20:LayDanhSachHeSoCotDiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LayDanhSachHeSoCotDiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding44" type="ns21:LayDanhSachHeSoPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LayDanhSachHeSoOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLDiemComApp"/>
            </output>
        </operation>
    </binding>
    <service name="QLDiemComAppService1">
        <port name="casaPort1" binding="tns:casaBinding1"/>
    </service>
    <service name="QLDiemComAppService2">
        <port name="casaPort2" binding="tns:casaBinding2"/>
    </service>
    <service name="QLDiemComAppService3">
        <port name="casaPort3" binding="tns:casaBinding3"/>
    </service>
    <service name="QLDiemComAppService4">
        <port name="casaPort4" binding="tns:casaBinding4"/>
    </service>
    <service name="QLDiemComAppService5">
        <port name="casaPort5" binding="tns:casaBinding5"/>
    </service>
    <service name="QLDiemComAppService6">
        <port name="casaPort6" binding="tns:casaBinding6"/>
    </service>
    <service name="QLDiemComAppService7">
        <port name="casaPort7" binding="tns:casaBinding7"/>
    </service>
    <service name="QLDiemComAppService8">
        <port name="casaPort8" binding="tns:casaBinding8"/>
    </service>
    <service name="QLDiemComAppService9">
        <port name="casaPort9" binding="tns:casaBinding9"/>
    </service>
    <service name="QLDiemComAppService10">
        <port name="casaPort10" binding="tns:casaBinding10"/>
    </service>
    <service name="QLDiemComAppService11">
        <port name="ThemDanhSachLoaiDiem" binding="tns:casaBinding11">
            <soap:address location="http://localhost:18001/QLDiemComApp/ThemDanhSachLoaiDiem"/>
        </port>
    </service>
    <service name="QLDiemComAppService12">
        <port name="TaoSoDiem" binding="tns:casaBinding12">
            <soap:address location="http://localhost:18001/QLDiemComApp/TaoSoDiem"/>
        </port>
    </service>
    <service name="QLDiemComAppService13">
        <port name="NhapDiem" binding="tns:casaBinding13">
            <soap:address location="http://localhost:18001/QLDiemComApp/NhapDiem"/>
        </port>
    </service>
    <service name="QLDiemComAppService14">
        <port name="LuuDiemHocBa" binding="tns:casaBinding14">
            <soap:address location="http://localhost:18001/QLDiemComApp/LuuDiemHocBa"/>
        </port>
    </service>
    <service name="QLDiemComAppService15">
        <port name="TaoLoaiDiem" binding="tns:casaBinding15">
            <soap:address location="http://localhost:18001/QLDiemComApp/TaoLoaiDiem"/>
        </port>
    </service>
    <service name="QLDiemComAppService16">
        <port name="TinhDiemTrungBinh" binding="tns:casaBinding16">
            <soap:address location="http://localhost:18001/QLDiemComApp/TinhDiemTrungBinh"/>
        </port>
    </service>
    <service name="QLDiemComAppService17">
        <port name="TongKetDiem" binding="tns:casaBinding17">
            <soap:address location="http://localhost:18001/QLDiemComApp/TongKetDiem"/>
        </port>
    </service>
    <service name="QLDiemComAppService18">
        <port name="XemDiem" binding="tns:casaBinding18">
            <soap:address location="http://localhost:18001/QLDiemComApp/XemDiem"/>
        </port>
    </service>
    <service name="QLDiemComAppService19">
        <port name="XetLenLop" binding="tns:casaBinding19">
            <soap:address location="http://localhost:18001/QLDiemComApp/XetLenLop"/>
        </port>
    </service>
    <service name="QLDiemComAppService20">
        <port name="TaoNamHocMoi" binding="tns:casaBinding20">
            <soap:address location="http://localhost:18001/QLDiemComApp/TaoNamHocMoi"/>
        </port>
    </service>
    <service name="QLDiemComAppService21">
        <port name="LayIdNamHocMoiNhat" binding="tns:casaBinding21">
            <soap:address location="http://localhost:18001/QLDiemComApp/LayIdNamHocMoiNhat"/>
        </port>
    </service>
    <service name="QLDiemComAppService22">
        <port name="LayDanhSachMonHocCuaGiaoVien" binding="tns:casaBinding22">
            <soap:address location="http://localhost:18001/QLDiemComApp/LayDanhSachMonHocCuaGiaoVien"/>
        </port>
    </service>
    <service name="QLDiemComAppService23">
        <port name="casaPort12" binding="tns:casaBinding23"/>
    </service>
    <service name="QLDiemComAppService24">
        <port name="casaPort13" binding="tns:casaBinding24"/>
    </service>
    <service name="QLDiemComAppService25">
        <port name="casaPort14" binding="tns:casaBinding25"/>
    </service>
    <service name="QLDiemComAppService26">
        <port name="casaPort15" binding="tns:casaBinding26"/>
    </service>
    <service name="QLDiemComAppService27">
        <port name="casaPort16" binding="tns:casaBinding27"/>
    </service>
    <service name="QLDiemComAppService28">
        <port name="casaPort17" binding="tns:casaBinding28"/>
    </service>
    <service name="QLDiemComAppService29">
        <port name="casaPort18" binding="tns:casaBinding29"/>
    </service>
    <service name="QLDiemComAppService30">
        <port name="casaPort19" binding="tns:casaBinding30"/>
    </service>
    <service name="QLDiemComAppService31">
        <port name="casaPort20" binding="tns:casaBinding31"/>
    </service>
    <service name="QLDiemComAppService32">
        <port name="casaPort21" binding="tns:casaBinding32"/>
    </service>
    <service name="QLDiemComAppService33">
        <port name="casaPort22" binding="tns:casaBinding33"/>
    </service>
    <service name="QLDiemComAppService34">
        <port name="casaPort23" binding="tns:casaBinding34"/>
    </service>
    <service name="QLDiemComAppService35">
        <port name="LayDanhSachLopGiaoVienDay" binding="tns:casaBinding35">
            <soap:address location="http://localhost:18001/QLDiemComApp/LayDanhSachLopGiaoVienDay"/>
        </port>
    </service>
    <service name="QLDiemComAppService36">
        <port name="LoadSoDiem" binding="tns:casaBinding36">
            <soap:address location="http://localhost:18001/QLDiemComApp/LoadSoDiem"/>
        </port>
    </service>
    <service name="QLDiemComAppService37">
        <port name="TimIdMonHocByTenMonHoc" binding="tns:casaBinding37">
            <soap:address location="http://localhost:18001/QLDiemComApp/TimIdMonHocByTenMonHoc"/>
        </port>
    </service>
    <service name="QLDiemComAppService38">
        <port name="TimIdLopByTenLop" binding="tns:casaBinding38">
            <soap:address location="http://localhost:18001/QLDiemComApp/TimIdLopByTenLop"/>
        </port>
    </service>
    <service name="QLDiemComAppService39">
        <port name="LayDanhSachCotDiem" binding="tns:casaBinding39">
            <soap:address location="http://localhost:18001/QLDiemComApp/LayDanhSachCotDiem"/>
        </port>
    </service>
    <service name="QLDiemComAppService40">
        <port name="TimTenHocSinhByIdHocSinh" binding="tns:casaBinding40">
            <soap:address location="http://localhost:18001/QLDiemComApp/TimTenHocSinhByIdHocSinh"/>
        </port>
    </service>
    <service name="QLDiemComAppService41">
        <port name="LayDanhSachDiemCuaChiTietSoDiem" binding="tns:casaBinding41">
            <soap:address location="http://localhost:18001/QLDiemComApp/LayDanhSachDiemCuaChiTietSoDiem"/>
        </port>
    </service>
    <service name="QLDiemComAppService42">
        <port name="LuuDiem" binding="tns:casaBinding42">
            <soap:address location="http://localhost:18001/QLDiemComApp/LuuDiem"/>
        </port>
    </service>
    <service name="QLDiemComAppService43">
        <port name="LayDanhSachHeSoCotDiem" binding="tns:casaBinding43">
            <soap:address location="http://localhost:18001/QLDiemComApp/LayDanhSachHeSoCotDiem"/>
        </port>
    </service>
    <service name="QLDiemComAppService44">
        <port name="LayDanhSachHeSo" binding="tns:casaBinding44">
            <soap:address location="http://localhost:18001/QLDiemComApp/LayDanhSachHeSo"/>
        </port>
    </service>
</definitions>






















