src/QLThongTinKhoiTaoComApp/src/jbiasa/QLThongTinKhoiTaoComApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="QLThongTinKhoiTaoComApp"
             xmlns:tns="QLThongTinKhoiTaoComApp" xmlns:ns="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoTruong" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoQuyen" xmlns:ns2="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoNhom" xmlns:ns3="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoNamHoc" xmlns:ns4="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoMonHoc" xmlns:ns5="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoLop" xmlns:ns6="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoKhoiLop" xmlns:ns7="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoHocLuc" xmlns:ns8="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoHieuTruong" xmlns:ns9="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoHanhKiem" xmlns:ns10="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoDanToc" xmlns:ns11="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoCoSo" xmlns:ns12="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoBoMon" xmlns:ns13="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/LoadKhoiLop">
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoTruong" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoTruong.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoQuyen" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoQuyen.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoNhom" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoNhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoNamHoc" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoNamHoc.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoMonHoc" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoMonHoc.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoLop" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoLop.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoKhoiLop" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoKhoiLop.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoHocLuc" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoHocLuc.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoHieuTruong" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoHieuTruong.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoHanhKiem" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoHanhKiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoDanToc" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoDanToc.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoCoSo" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoCoSo.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/TaoBoMon" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/TaoBoMon.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QLThongTinKhoiTao/LoadKhoiLop" location="../jbiServiceUnits/QLThongTinKhoiTao/interface_wsdl/LoadKhoiLop.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:TaoTruongPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoTruongOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:TaoQuyenPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoQuyenOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns2:TaoNhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoNhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns3:TaoNamHocPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoNamHocOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns4:TaoMonHocPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoMonHocOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns5:TaoLopPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoLopOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding7" type="ns6:TaoKhoiLopPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoKhoiLopOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding8" type="ns7:TaoHocLucPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoHocLucOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding9" type="ns8:TaoHieuTruongPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoHieuTruongOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding10" type="ns9:TaoHanhKiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoHanhKiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding11" type="ns10:TaoDanTocPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoDanTocOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding12" type="ns11:TaoCoSoPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoCoSoOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding13" type="ns12:TaoBoMonPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TaoBoMonOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding14" type="ns13:LoadKhoiLopPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LoadKhoiLopOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLThongTinKhoiTaoComApp"/>
            </output>
        </operation>
    </binding>
    <service name="QLThongTinKhoiTaoComAppService1">
        <port name="TaoTruong" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService1/TaoTruong"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService2">
        <port name="TaoQuyen" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService2/TaoQuyen"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService3">
        <port name="TaoNhom" binding="tns:casaBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService3/TaoNhom"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService4">
        <port name="TaoNamHoc" binding="tns:casaBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService4/TaoNamHoc"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService5">
        <port name="TaoMonHoc" binding="tns:casaBinding5">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService5/TaoMonHoc"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService6">
        <port name="TaoLop" binding="tns:casaBinding6">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService6/TaoLop"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService7">
        <port name="TaoKhoiLop" binding="tns:casaBinding7">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService7/TaoKhoiLop"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService8">
        <port name="TaoHocLuc" binding="tns:casaBinding8">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService8/TaoHocLuc"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService9">
        <port name="TaoHieuTruong" binding="tns:casaBinding9">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService9/TaoHieuTruong"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService10">
        <port name="TaoHanhKiem" binding="tns:casaBinding10">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService10/TaoHanhKiem"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService11">
        <port name="TaoDanToc" binding="tns:casaBinding11">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService11/TaoDanToc"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService12">
        <port name="TaoCoSo" binding="tns:casaBinding12">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService12/TaoCoSo"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService13">
        <port name="TaoBoMon" binding="tns:casaBinding13">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService13/TaoBoMon"/>
        </port>
    </service>
    <service name="QLThongTinKhoiTaoComAppService14">
        <port name="LoadKhoiLop" binding="tns:casaBinding14">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLThongTinKhoiTaoComAppService14/LoadKhoiLop"/>
        </port>
    </service>
</definitions>

