trunk/src/QLHocBaComApp/src/jbiasa/QLHocBaComApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="QLHocBaComApp"
             xmlns:tns="QLHocBaComApp" xmlns:ns="http://j2ee.netbeans.org/wsdl/Quanlyhocsinh/xoahocsinhbohoc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://j2ee.netbeans.org/wsdl/QuanlyHocBa/tracuuhocbacanam" xmlns:ns2="http://j2ee.netbeans.org/wsdl/Quanlyhocsinh/laydanhsachhocsinhbohoc" xmlns:ns3="http://j2ee.netbeans.org/wsdl/Quanlyhocsinh/themhocsinhbohoc" xmlns:ns4="http://j2ee.netbeans.org/wsdl/QuanlyHocBa/chinhsuahocba" xmlns:ns5="http://j2ee.netbeans.org/wsdl/Quanlyhocsinh/capnhathanhkiem" xmlns:ns6="http://j2ee.netbeans.org/wsdl/QuanlyHocBa/TraCuuHocBaHocTheoHK">
    <import namespace="http://j2ee.netbeans.org/wsdl/Quanlyhocsinh/xoahocsinhbohoc" location="../jbiServiceUnits/QuanlyHocBa/WSDL/xoahocsinhbohoc.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanlyHocBa/tracuuhocbacanam" location="../jbiServiceUnits/QuanlyHocBa/WSDL/tracuuhocbacanam.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/Quanlyhocsinh/laydanhsachhocsinhbohoc" location="../jbiServiceUnits/QuanlyHocBa/WSDL/laydanhsachhocsinhbohoc.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/Quanlyhocsinh/themhocsinhbohoc" location="../jbiServiceUnits/QuanlyHocBa/WSDL/themhocsinhbohoc.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanlyHocBa/chinhsuahocba" location="../jbiServiceUnits/QuanlyHocBa/WSDL/chinhsuahocba.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/Quanlyhocsinh/capnhathanhkiem" location="../jbiServiceUnits/QuanlyHocBa/WSDL/capnhathanhkiem.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanlyHocBa/TraCuuHocBaHocTheoHK" location="../jbiServiceUnits/QuanlyHocBa/WSDL/TraCuuHocBaHocTheoHK.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:xoahocsinhbohocPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="xoahocsinhbohocOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="QLHocBaComApp"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:tracuuhocbacanamPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="tracuuhocbacanamOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="QLHocBaComApp"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns3:themhocsinhbohocPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="themhocsinhbohocOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="QLHocBaComApp"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns2:laydanhsachhocsinhbohocPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="laydanhsachhocsinhbohocOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="QLHocBaComApp"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns4:chinhsuahocbaPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="chinhsuahocbaOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="QLHocBaComApp"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns5:capnhathanhkiemPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="capnhathanhkiemOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="QLHocBaComApp"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding7" type="ns6:TraCuuHocBaHocTheoHKPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TraCuuHocBaHocTheoHKOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHocBaComApp"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="QLHocBaComApp"/>
            </fault>
        </operation>
    </binding>
    <service name="QLHocBaComAppService1">
        <port name="xoahocsinhbohoc" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLHocBaComAppService1/xoahocsinhbohoc"/>
        </port>
    </service>
    <service name="QLHocBaComAppService2">
        <port name="tracuuhocbacanam" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLHocBaComAppService2/tracuuhocbacanam"/>
        </port>
    </service>
    <service name="QLHocBaComAppService3">
        <port name="themhocsinhbohoc" binding="tns:casaBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLHocBaComAppService3/themhocsinhbohoc"/>
        </port>
    </service>
    <service name="QLHocBaComAppService4">
        <port name="laydanhsachhocsinhbohoc" binding="tns:casaBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLHocBaComAppService4/laydanhsachhocsinhbohoc"/>
        </port>
    </service>
    <service name="QLHocBaComAppService5">
        <port name="chinhsuahocba" binding="tns:casaBinding5">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLHocBaComAppService5/chinhsuahocba"/>
        </port>
    </service>
    <service name="QLHocBaComAppService6">
        <port name="capnhathanhkiem" binding="tns:casaBinding6">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLHocBaComAppService6/capnhathanhkiem"/>
        </port>
    </service>
    <service name="QLHocBaComAppService7">
        <port name="TraCuuHocBaHocTheoHK" binding="tns:casaBinding7">
            <soap:address location="http://localhost:${HttpDefaultPort}/QLHocBaComAppService7/TraCuuHocBaHocTheoHK"/>
        </port>
    </service>
</definitions>

