trunk/src/QuanLyHeThongComApp/src/jbiasa/QuanLyHeThongComApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="QuanLyHeThongComApp"
             xmlns:tns="QuanLyHeThongComApp" xmlns:ns="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNhom" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNhom" xmlns:ns2="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNhom" xmlns:ns3="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNguoiDung" xmlns:ns4="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNguoiDung" xmlns:ns5="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNguoiDung">
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynhom/ThemNhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynhom/SuaNhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynhom/XoaNhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNguoiDung" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynguoidung/ThemNguoiDung.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNguoiDung" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynguoidung/SuaNguoiDung.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNguoiDung" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynguoidung/XoaNguoiDung.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:ThemNhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ThemNhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:SuaNhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SuaNhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns2:XoaNhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="XoaNhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns3:ThemNguoiDungPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ThemNguoiDungOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns4:SuaNguoiDungPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SuaNguoiDungOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns5:XoaNguoiDungPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="XoaNguoiDungOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QuanLyHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <service name="QuanLyHeThongComAppService1">
        <port name="themNhom" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService1/themNhom"/>
        </port>
    </service>
    <service name="QuanLyHeThongComAppService2">
        <port name="suaNhom" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService2/suaNhom"/>
        </port>
    </service>
    <service name="QuanLyHeThongComAppService3">
        <port name="xoaNhom" binding="tns:casaBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService3/xoaNhom"/>
        </port>
    </service>
    <service name="QuanLyHeThongComAppService4">
        <port name="themNguoiDung" binding="tns:casaBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService4/themNguoiDung"/>
        </port>
    </service>
    <service name="QuanLyHeThongComAppService5">
        <port name="suaNguoiDung" binding="tns:casaBinding5">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService5/suaNguoiDung"/>
        </port>
    </service>
    <service name="QuanLyHeThongComAppService6">
        <port name="xoaNguoiDung" binding="tns:casaBinding6">
            <soap:address location="http://localhost:${HttpDefaultPort}/QuanLyHeThongComAppService6/xoaNguoiDung"/>
        </port>
    </service>
</definitions>


