trunk/src/QLHeThongComApp/src/jbiasa/QLHeThongComApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="QLHeThongComApp"
             xmlns:tns="QLHeThongComApp" xmlns:ns="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNhom" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNguoiDung_Nhom" xmlns:ns2="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/UyQuyen" xmlns:ns3="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNhom" xmlns:ns4="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNguoiDung_Nhom" xmlns:ns5="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNhom" xmlns:ns6="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNguoiDung_Nhom" xmlns:ns7="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/PhanQuyenNhom" xmlns:ns8="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/PhanQuyenNguoiDung" xmlns:ns9="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/DoiMatKhau" xmlns:ns10="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/DangNhap">
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynhom/XoaNhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/XoaNguoiDung_Nhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynguoidung/XoaNguoiDung_Nhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/UyQuyen" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/UyQuyen.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynhom/ThemNhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/ThemNguoiDung_Nhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynguoidung/ThemNguoiDung_Nhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynhom/SuaNhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/SuaNguoiDung_Nhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/quanlynguoidung/SuaNguoiDung_Nhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/PhanQuyenNhom" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/PhanQuyenNhom.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/PhanQuyenNguoiDung" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/PhanQuyenNguoiDung.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/DoiMatKhau" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/DoiMatKhau.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/QuanLyHeThong/DangNhap" location="../jbiServiceUnits/QuanLyHeThong/interface_WSDL/DangNhap.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:XoaNhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="XoaNhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:XoaNguoiDung_NhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="XoaNguoiDung_NhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns2:UyQuyenPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="UyQuyenOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns3:ThemNhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ThemNhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns4:ThemNguoiDung_NhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ThemNguoiDung_NhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns5:SuaNhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SuaNhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding7" type="ns6:SuaNguoiDung_NhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SuaNguoiDung_NhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding8" type="ns7:PhanQuyenNhomPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="PhanQuyenNhomOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding9" type="ns8:PhanQuyenNguoiDungPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="PhanQuyenNguoiDungOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding10" type="ns9:DoiMatKhauPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="DoiMatKhauOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding11" type="ns10:DangNhapPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="DangNhapOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="QLHeThongComApp"/>
            </output>
        </operation>
    </binding>
    <service name="QLHeThongComAppService1">
        <port name="XoaNhom" binding="tns:casaBinding1">
            <soap:address location="http://localhost:18001/QLHeThongComApp/XoaNhom"/>
        </port>
    </service>
    <service name="QLHeThongComAppService2">
        <port name="XoaNguoiDungNhom" binding="tns:casaBinding2">
            <soap:address location="http://localhost:18001/QLHeThongComApp/XoaNguoiDungNhom"/>
        </port>
    </service>
    <service name="QLHeThongComAppService3">
        <port name="UyQuyen" binding="tns:casaBinding3">
            <soap:address location="http://localhost:18001/QLHeThongComApp/UyQuyen"/>
        </port>
    </service>
    <service name="QLHeThongComAppService4">
        <port name="ThemNhom" binding="tns:casaBinding4">
            <soap:address location="http://localhost:18001/QLHeThongComApp/ThemNhom"/>
        </port>
    </service>
    <service name="QLHeThongComAppService5">
        <port name="ThemNguoiDungNhom" binding="tns:casaBinding5">
            <soap:address location="http://localhost:18001/QLHeThongComApp/ThemNguoiDungNhom"/>
        </port>
    </service>
    <service name="QLHeThongComAppService6">
        <port name="SuaNhom" binding="tns:casaBinding6">
            <soap:address location="http://localhost:18001/QLHeThongComApp/SuaNhom"/>
        </port>
    </service>
    <service name="QLHeThongComAppService7">
        <port name="SuaNguoiDungNhom" binding="tns:casaBinding7">
            <soap:address location="http://localhost:18001/QLHeThongComApp/SuaNguoiDungNhom"/>
        </port>
    </service>
    <service name="QLHeThongComAppService8">
        <port name="PhanQuyenNhom" binding="tns:casaBinding8">
            <soap:address location="http://localhost:18001/QLHeThongComApp/PhanQuyenNhom"/>
        </port>
    </service>
    <service name="QLHeThongComAppService9">
        <port name="PhanQuyenNguoiDung" binding="tns:casaBinding9">
            <soap:address location="http://localhost:18001/QLHeThongComApp/PhanQuyenNguoiDung"/>
        </port>
    </service>
    <service name="QLHeThongComAppService10">
        <port name="DoiMatKhau" binding="tns:casaBinding10">
            <soap:address location="http://localhost:18001/QLHeThongComApp/DoiMatKhau"/>
        </port>
    </service>
    <service name="QLHeThongComAppService11">
        <port name="DangNhap" binding="tns:casaBinding11">
            <soap:address location="http://localhost:18001/QLHeThongComApp/DangNhap"/>
        </port>
    </service>
</definitions>

