trunk/src/EschoolinkWeb/src/conf/xml-resources/web-service-references/ToHocSinh/wsdl/sanchikaro_9080/QLHocSinhComApp-sun-http-binding/QLHocSinh/XSD_XML_Object/ListObject.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/ListObject"
    xmlns:tns="http://xml.netbeans.org/schema/ListObject"
    elementFormDefault="qualified" xmlns:ns0="http://xml.netbeans.org/schema/EschoolinkObject">
    <xsd:import schemaLocation="../XSD_XML_Object/EschoolinkObject.xsd" namespace="http://xml.netbeans.org/schema/EschoolinkObject"/>
    <xsd:element name="ListHocSinh" type="tns:ListHocSinh"/>
    <xsd:complexType name="ListHocSinh">
        <xsd:sequence>
            <xsd:element ref="ns0:NamHoc"></xsd:element>
            <xsd:element name="total" type="xsd:long"></xsd:element>
            <xsd:element name="page" type="xsd:int"></xsd:element>
            <xsd:element name="limit" type="xsd:int"></xsd:element>
            <xsd:element ref="ns0:HocSinh" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>


