trunk/src/QLHocSinh/src/DB_WSDL/update/XSD/DB_UpdateThongTinHocSinh.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://j2ee.netbeans.org/xsd/tableSchema" xmlns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="update_thongtinhocsinh_Request">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="id_hocsinh_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_quequan_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ghichu_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="gioitinh_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="hinhanh_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ketnapdoan_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:boolean">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ketnapdoi_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:boolean">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngaysinh_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngayvaodoan_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngayvaodoi_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="sonha_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tenhocsinh_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tongiao_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_thonxom_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_loaihocsinh_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_chedouutien_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_khuvuc_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_tinh_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_xaphuongthitran_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_quanhuyenthanhpho_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_dantoc_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="quequan_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_quanhuyenthanhpho_qq">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_xaphuongthitran_qq">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_thonxom_qq">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_tinh_qq">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ten_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="masohocsinh_">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="update_thongtinhocsinh_Response">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="returnValue">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:boolean">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:schema>