trunk/src/EschoolinkWeb/src/conf/xml-resources/web-service-references/LayDanhSachLoaiHocSinh/wsdl/sanchikaro_9080/QuanLyThongTinKhoiTaoComApp-sun-http-binding/QuanLyThongTinKhoiTaoHeThong/XSD_XML_Object/ListObject.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/ListObject"
    xmlns:tns="http://xml.netbeans.org/schema/ListObject"
    elementFormDefault="qualified" xmlns:ns0="http://xml.netbeans.org/schema/EschoolinkObject">
    <xsd:import schemaLocation="../XSD_XML_Object/EschoolinkObject.xsd" namespace="http://xml.netbeans.org/schema/EschoolinkObject"/>
    <xsd:element name="ListLoaiHocSinh" type="tns:ListLoaiHocSinh"/>
    <xsd:element name="ListCheDoUuTien" type="tns:ListCheDoUuTien"/>
    <xsd:element name="ListDanToc" type="tns:ListDanToc"/>
    <xsd:element name="ListLop" type="tns:ListLop"/>
    <xsd:complexType name="ListLoaiHocSinh">
        <xsd:sequence>
            <xsd:element ref="ns0:LoaiHocSinh" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListCheDoUuTien">
        <xsd:sequence>
            <xsd:element ref="ns0:CheDoUuTien" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListDanToc">
        <xsd:sequence>
            <xsd:element ref="ns0:DanToc" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>

    </xsd:complexType>
    <xsd:complexType name="ListLop">
        <xsd:sequence>
            <xsd:element ref="ns0:Lop" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>







