src/SendMessToDeanComApp/src/jbiasa/SendMessToDeanComApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="SendMessToDeanComApp"
             xmlns:tns="SendMessToDeanComApp" xmlns:ns="http://j2ee.netbeans.org/wsdl/SendMessToDean/SendMessToDean" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://j2ee.netbeans.org/wsdl/SendMessToDean/ManagerReview" xmlns:ns2="http://j2ee.netbeans.org/wsdl/SendMessToDean/SendMessTODean2" xmlns:ns3="http://j2ee.netbeans.org/wsdl/SendMessToDean/feedback" xmlns:ns4="http://j2ee.netbeans.org/wsdl/SendMessToDean/SecretarySetState" xmlns:ns5="http://j2ee.netbeans.org/wsdl/SendMessToDean/ManagerSetState" xmlns:ns6="http://j2ee.netbeans.org/wsdl/SendMessToDean/TeacherSetState" xmlns:ns7="http://j2ee.netbeans.org/wsdl/SendMessToDean/LoadMessagesWaiting" xmlns:ns8="http://j2ee.netbeans.org/wsdl/SendMessToDean/LoadMessageByIdMessage" xmlns:ns9="http://j2ee.netbeans.org/wsdl/SendMessToDean/loadMessageOfStation">
    <import namespace="http://j2ee.netbeans.org/wsdl/SendMessToDean/SendMessToDean" location="../jbiServiceUnits/SendMessToDean/WSDLInterface/SendMessToDean.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/SendMessToDean/ManagerReview" location="../jbiServiceUnits/SendMessToDean/WSDLInterface/ManagerReview.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/SendMessToDean/SendMessTODean2" location="../jbiServiceUnits/SendMessToDean/WSDLInterface/SendMessTODean2.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/SendMessToDean/feedback" location="../jbiServiceUnits/SendMessToDean/internalProcess/feedback.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/SendMessToDean/SecretarySetState" location="../jbiServiceUnits/SendMessToDean/externalProcess/WSDLInterface/SecretarySetState.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/SendMessToDean/ManagerSetState" location="../jbiServiceUnits/SendMessToDean/externalProcess/WSDLInterface/ManagerSetState.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/SendMessToDean/TeacherSetState" location="../jbiServiceUnits/SendMessToDean/externalProcess/WSDLInterface/TeacherSetState.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/SendMessToDean/LoadMessagesWaiting" location="../jbiServiceUnits/SendMessToDean/externalProcess/WSDLInterface/LoadMessagesWaiting.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/SendMessToDean/LoadMessageByIdMessage" location="../jbiServiceUnits/SendMessToDean/externalProcess/WSDLInterface/LoadMessageByIdMessage.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/SendMessToDean/loadMessageOfStation" location="../jbiServiceUnits/SendMessToDean/externalProcess/WSDLInterface/loadMessageOfStation.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:SendMessToDeanPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SendMessToDeanOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns2:SendMessTODean2PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SendMessTODean2Operation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns3:feedbackPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="feedbackOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns4:SecretarySetStatePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SecretarySetStateOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns5:ManagerSetStatePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ManagerSetStateOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns6:TeacherSetStatePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TeacherSetStateOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding7" type="ns7:LoadMessagesWaitingPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LoadMessagesWaitingOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding8" type="ns8:LoadMessageByIdMessagePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LoadMessageByIdMessageOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding9" type="ns9:loadMessageOfStationPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="loadMessageOfStationOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="SendMessToDeanComApp"/>
            </output>
        </operation>
    </binding>
    <service name="SendMessToDeanComAppService1">
        <port name="sendMessToDean" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/SendMessToDeanComAppService1/casaPort1"/>
        </port>
    </service>
    <service name="SendMessToDeanComAppService2">
        <port name="SendMessToDean2" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/SendMessToDeanComAppService2/SendMessToDean2"/>
        </port>
    </service>
    <service name="SendMessToDeanComAppService3">
        <port name="feedBack" binding="tns:casaBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/SendMessToDeanComAppService3/feedBack"/>
        </port>
    </service>
    <service name="SendMessToDeanComAppService4">
        <port name="SecretarySetState" binding="tns:casaBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/SendMessToDeanComAppService4/SecretarySetState"/>
        </port>
    </service>
    <service name="SendMessToDeanComAppService5">
        <port name="ManagerSetState" binding="tns:casaBinding5">
            <soap:address location="http://localhost:${HttpDefaultPort}/SendMessToDeanComAppService5/ManagerSetState"/>
        </port>
    </service>
    <service name="SendMessToDeanComAppService6">
        <port name="TeacherSetState" binding="tns:casaBinding6">
            <soap:address location="http://localhost:${HttpDefaultPort}/SendMessToDeanComAppService6/TeacherSetState"/>
        </port>
    </service>
    <service name="SendMessToDeanComAppService7">
        <port name="LoadMessagesWaiting" binding="tns:casaBinding7">
            <soap:address location="http://localhost:${HttpDefaultPort}/SendMessToDeanComAppService7/LoadMessagesWaiting"/>
        </port>
    </service>
    <service name="SendMessToDeanComAppService8">
        <port name="LoadMessageByIdMessage" binding="tns:casaBinding8">
            <soap:address location="http://localhost:${HttpDefaultPort}/SendMessToDeanComAppService8/LoadMessageByIdMessage"/>
        </port>
    </service>
    <service name="SendMessToDeanComAppService9">
        <port name="loadMessageOfStation" binding="tns:casaBinding9">
            <soap:address location="http://localhost:${HttpDefaultPort}/SendMessToDeanComAppService9/loadMessageOfStation"/>
        </port>
    </service>
</definitions>








