src/QuanLyGiaoVien/src/DB_WSDL/updateGV.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://j2ee.netbeans.org/xsd/tableSchema" xmlns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="updategiaovien_Request">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="choohientai">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="chucvu">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="cmnd">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="email">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="gioitinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="hinhanh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ketnapdang">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:boolean">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ketnapdoan">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:boolean">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngaycap">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngaysinh">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngayvaodang">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngayvaodoan">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ngayvaotruong">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="noicap">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="quequan">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="sodienthoai">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tengiaovien">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tinhtrangsuckhoe">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="tongiao">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="trinhdodaotao">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="trinhdovanhoa">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_nguoidung">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_dantoc">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_tobomon">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="id_giaovien">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="updategiaovien_Response">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="returnValue">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:long">
                  <xsd:attribute name="isNull" type="xsd:boolean"></xsd:attribute>
                  <xsd:attribute name="isDefaultColumn" type="xsd:boolean"></xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:schema>